- if memberships.present?
  %table.table.table-striped.table-hover
    %thead
      %th Project
      %th User
      %th Ends at
    %tbody
      - memberships.each do |membership|
        %tr
          %td= link_to membership.project.name, membership.project
          %td= profile_link membership.user.decorate
          %td= membership.ends_at.to_date
- else
  %h2 No ending memberships

- if projects.present?
  %table.table.table-striped.table-hover
    %thead
      %th Project
      %th Ends at
      %th Unfinished memberships
    %tbody
      - projects.each do |project|
        %tr
          %td= link_to project.name, project
          %td= project.end_at.to_date
          %td
            - project.memberships.unfinished.each do |m|
              %li
                = profile_link m.user.decorate
- else
  %h2 No ending projects
